/* ------------moviepage-header------------ */
.movie-header {
  width: 100%;
}

.movie-nav {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.movie-main {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.movie-logo {
  width: 14rem;
  margin-left: 3rem;
  cursor: pointer;
}

.first-nav-link:link,
.first-nav-link:visited {
  color: #fff !important;
}

.nav-links:link,
.nav-links:visited {
  display: inline-block;
  color: #888;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}

.movie-main-icon {
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
}
.user-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.user-img img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.img-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.movie-main-p {
  font-size: 1.6rem;
  font-weight: 300;
}

/* --------------Section-Hero-------------- */

.section-hero {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/avenger.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero {
  position: absolute;
  top: 50%;
  right: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.play-icon {
  width: 2rem;
  height: 2rem;
}
.hero-heading {
  font-size: 2.6rem;
  font-weight: 600;
  color: #b8b8b8;
}

.hero-description {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #b8b8b8;
}
/* -----------------Select Movies--------------- */

.select-movie {
  padding: 1rem 2rem;
  /* position: relative; */
  overflow-x: auto;
}

.select-movie::-webkit-scrollbar {
  width: 0;
}

.movie-img {
  width: 30rem;
  height: 15rem;
  cursor: pointer;
}

.select-movie h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.movie-img-grid {
  display: flex;
  align-items: center;
  gap: 1rem;

  position: relative;
}

.gt-icon {
  position: absolute;
  right: 0;
  font-size: 4rem;
  /* color: rgb(207, 207, 207, 0.7); */
  color: white;
  width: 24px;
  height: 24px;
  z-index: 100;
}

.movie-img-height {
  width: 30rem;
  height: 35rem;
  cursor: pointer;
}

.top-number {
  position: relative;
  margin-right: 18rem;
}

.movie-img-grid span {
  display: inline-block;
  font-size: 20rem;
  color: rgb(136, 136, 136, 0.2);
  -webkit-text-fill-color: rgb(136, 136, 136, 0.2);
  -webkit-text-stroke: 0.3rem #aca9a9;
}

.top-img {
  width: 20rem;
  height: 22rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(16%, -50%);

  /* margin-left: -2rem; */
}

/* -------------footer------------ */

.footer-icons {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1.6rem;
  margin-bottom: 1rem;
}
