@media (max-width: 60rem) {
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}

@media (max-width: 30rem) {
  .grid--4--cols {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}